<div class="box">
  <form class="item" (ngSubmit)=" f.form.valid && onGuardarPersona()" #f="ngForm">
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="nombreInput" required>
    <input type="text" name="apellido" id="apellido" placeholder="Apellido" [(ngModel)]="apellidoInput" required>
    <!-- <button type="submit" (click)="onAgregarPersona()">+</button> -->
    <button type="submit" style="cursor: pointer;">+</button>
    <button class="buttonRed" *ngIf="index != null" type="submit" style="cursor: pointer;" (click)="eliminarPersona()">-</button>
  </form>

</div>
